.likes-modal-arrow {
    position: absolute;
    top: -6px;
    left: 50%;
    margin-left: -6px;
    width: 0;
    height: 0;
    
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
  }
  .likes-modal-close {
    background-color: #1da1f2;
    color: white;
    border: none;
    border-radius: 5%;
    font-weight: 600;
    cursor: pointer;
    outline: none;
  
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 14px;
  }
  
  .likes-modal-close:hover {
    background-color: #1988c6;
  }
  